{{>navbar show=true}}

<main>
    <div class="profile-title">
        <h2>Edit your Profile...</h3>
        </div>

        {{#if errMessage}}
        <h2>{{errMessage}}</h2>

        {{else}}
        <form class="profile-form" method="POST">
            <div class="logo-container">
                <img src="https://p7.hiclipart.com/preview/285/877/92/jeff-bridges-the-big-lebowski-white-russian-youtube-dude-youtube.jpg" alt="The Dude logo">
            </div>

            <div class="edit-form_content">
                <input class="edit-form_input" value="{{firstName}}" type="text" name="first_name">
                <input class="edit-form_input" value="{{lastName}}" type="text" name="last_name" placeholder="Last Name">
                <input class="edit-form_input" value="{{email}}" type="text" name="email" placeholder="E-mail Address">
                <input class="edit-form_input" value="" type="password" name="password" placeholder="Password" pattern="[a-zA-Z0-9]+">
                <input class="edit-form_input" value="{{age}}" type="text" name="age" placeholder="Age">
                <input class="edit-form_input" value="{{city}}" type="text" name="city" placeholder="City">
                <input class="edit-form_input" value="{{url}}" type="text" name="url" placeholder="Homepage">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button class="edit-form_btn" type="submit">Update</button>
            </div>

            <div class="edit-form_footer">
            </div>

        </form>

        {{/if}}

</main>
