{{>navbar show=true edit=true signatureField=true logout=true}}


<main>
    <div class="signers-list">
        <h3>We the undersigned demand Donny's resurrection</h3>
            <ul>
                {{#signers}}
                <li>{{firstname}} | {{lastname}} | {{age}} | <a href="/signers-list/{{city}}">{{city}}</a> | <a href="{{url}}" target="_blank">{{url}}</a></li>
                {{/signers}}
            </ul>

        </div>

</main>
