<div class="thankyou-page">
    {{#if errMessage}}
    <h3> {{errMessage}} </h3>

    {{else}}
        <h1>Thank you for your signature!</h1>
        <img src="{{signature}}" />
        <br>
        <a href="/signers-list" target="_blank">Check out the other {{numOfSigners}} dudes that abide</a>
        <br>
        <a href="/profile/edit">Edit your profile</a>
        <br>
        <a href="/logout">Log out</a>

        <form action="/thank-you/delete" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="deleteSignature">Delete signature</button>
        </form>

        {{/if}}
</div>
