{{>navbar show=true edit=true logout=true}}

<main>
    <div class="thankyou-page">
        {{#if errMessage}}
        <h3> {{errMessage}} </h3>

        {{else}}
            <h1>Thank you for your signature!</h1>
            <div class="logo-container" id="donny">
                <img src="/donny.jpeg" alt="The Dude logo">
            </div>
            <img src="{{signature}}" />
            <br>
            <a href="/signers-list" target="_blank">Check out the other {{numOfSigners}} dudes that abide</a>
            <br>
            <form action="/thank-you/delete" method="post">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button id="deleteSignature">Delete signature</button>
            </form>

        {{/if}}
    </div>
</main>
